@media (min-width: 400px, max-width: 640px){}
@media (min-width: 641px, max-width: ){}
body{
	background: url("images/eerie.jpg") center fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
#radio-box{
	width: 49%;
	position: absolute;
	top: 35%;
	left: 30%;
}
#radio{
	width: 100%;
	position: absolute;
	box-shadow: 10px 10px 5px #181818;
	border-radius: 1em 1em;
}
#title{
	width: 23%;
	position: fixed;
	top: 3%;
	left: 2%;
}
.btn-circle{
	width: 10%;
	height: 30%;
	border-radius: 50%;
}
#track{
	background-color: rgba(0,0,0,0.5);
	border: 1px solid darkslategrey;
	border-radius: 2em 2em;
	width: 6%;
	height: 300%;
	position: absolute;
	margin-top: 34%;
	margin-left: 6%;
}
#play{
	position: absolute;
	background-color: #8c7853;
}
.stop{
	position: absolute;
	background-color: #8c7853;
	display: none;
	bottom: 0;
}
#next{
	width: 9%;
	height: 170%;
	position: absolute;
	background-color: #8c7853;
	border-radius: 50%;
	font-family: 'Lobster', cursive;
	font-size: 12px;
	color: #51492F;
	margin-left: 14%;
	margin-top: 39%;
}
canvas{
	position: absolute;
	background-color: #8C7448;
	border-radius: 50%;
	margin-left: 86%;
	margin-top: 36%;
}
#onair{
	width: 2%;
	height: 35%;
	border-radius: 50%;
	background-color: black;
	position: absolute;
	margin-top: 43%;
	margin-left: 81%;
}
.light{
	box-shadow: 4px 4px 1px rgba(255,0,0,0.2),
	 -4px 4px 1px rgba(255,0,0,0.2),
	 4px -4px 1px rgba(255,0,0,0.2),
	-4px -4px 1px rgba(255,0,0,0.2);
}
#storylist{
	position: absolute;
	top: 22%;
	left: 2%;
	color: white;
}
button:focus {
	outline:0;
}
#episodes{
	width: 20%;
	position: absolute;
	top: 25%;
	left: 1%;
}
li{
	list-style-type: none;
	color: #C0C0C0;
	font-family: 'Lobster', cursive;
	font-size: 20px;
	margin-bottom: 3%;
	margin-left: 6%;
	text-shadow: 1px 1px #696969,
		-1px 1px #696969,
		-1px 1px #696969,
		-1px -1px #696969;
}
ul{
	list-style-type: none;
	color: #141414;
	font-family: 'Lobster', cursive;
	font-size: 35px;
	margin-top: 0;
	text-shadow: 1px 1px #C0C0C0,
		-1px 1px #C0C0C0,
		-1px 1px #C0C0C0,
		-1px -1px #C0C0C0;
}